/* $Id$  */

.arrange-fields-container {
 position: relative;
 border: 2px solid #bbb;
 background: url("grid1.png"); 
}

.arrange-fields-container .draggable-form-item {
  border: 1px solid #ccc;  
  background-color: #eee;
  display: inline-block;
  position: absolute; 
  /*float: left;*/
  z-index: 999;    
}


.arrange-fields-container .draggable-form-item fieldset{
  display: block;
}

.draggable-form-item .form-item, .draggable-form-item fieldset {
  margin: 0;
  padding: 0;
}

.draggable-form-item .form-submit
{
  margin: 5px;
}

#edit-arrange-fields-position-data-wrapper
{
  display: none;
}

.arrange-fields-container .grippie {
  display: none;
}

.arrange-fields-container .disabled-button {
  color: #999;
}

.arrange-fields-control-handle
{
  display: none;
  position: absolute;
  top: -10px;
  right: 10px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 2px;
  min-width: 50px;
}