/* $Id$ */
.faq_category_indent {
  padding-left: 20px;
}
.faq_more_link {
  font-size: 0.85em;
  margin-left: 30em;
  margin-top: 0;
  margin-bottom: -1.25em;
  text-align: right;
}
.faq_top_link {
  font-size: 0.8em;
  margin-top:0;
  margin-bottom: 0;
  padding-bottom: 1.0em;
}

.faq_arrow {
		padding: 5px;
		font-size: 1.2em;
}
