/* ie fixes */

fieldset {
  /* Don't draw backgrounds on fieldsets in IE, as they look really bad. */
  background: none;
}

ul.primary {
  /* Fix missing top margin */
  position: relative;
/*  top: 0.5em; */
}

/* Prevent fieldsets from shifting when changing collapsed state. */
html.js fieldset.collapsible {
  position: relative;
  top: -1em;
}
html.js fieldset.collapsed {
  top: 0;
  margin-bottom: 1em;
}

td.menu-disabled {
  /* Use filter to emulate CSS3 opacity */
  filter: alpha(opacity=50);
}

#header-region {
  /* Because of the lack of min-height, we use height as an alternative */
  height: 1em;
}

#attach-hide label, #uploadprogress div.message {
  /* Fading elements in IE causes the text to bleed unless they have a background. */
  background-color: #ffffff;
}


/*** Pixture Reloaded specific work-arounds ***/

/* Pull the search box into position in IE6 */
/*#search-box {
  _margin: -110px 10px 0 0;
}*/

/* Strip backgrounds off sticky nodes in full view */
.node-full-view .sticky,
.node-full-view .node-inner-0,
.node-full-view .node-inner-1,
.node-full-view .node-inner-2,
.node-full-view .node-inner-3 { background: none; }






