div.imagefield-row {
  padding: 5px;
  margin-bottom: 10px;
}


div.imagefield-row div:first-child {
  padding-right: 20px;
}


div.imagefield-preview {
  min-width: 102px;
  float: left;
}


div.imagefield-preview img {
  border: 1px solid #e5e5e5;
}

div.imagefield-edit {
  float: left;
}

div.imagefield-edit input.form-text {
  width: 99%;
}

div.imagefield-edit input.form-submit {
  margin-top: 1em;
  margin-right: 1em;
}
