/*
 * $Id$
 */

/* Headers for "Categories" and "Recipes..." sections */
.recipe_index_category_list {
  font-weight: bold;
  float: left;
  width: 40%;
}
.recipe_index_category_parents {
  font-weight: bold;
  font-size: 100%;
  margin:0;padding:0;
  margin-bottom: 20px;
}
.recipe_index_category_children {
  font-weight: bold;
  font-size: 90%;
  margin:0;padding:0;
}
.recipe_index_category_list ul {
  margin-left: 10px;
}
.recipe_index_category_list .content {
  margin-top: 10px;
}



.recipe_index_node_lists {
  font-weight: bold;
  float: left;
  width: 58%;
}
.recipe_index_node_lists .box ul {
  margin-left: 10px;
}
.recipe_index_node_lists .box .item-list {
  margin-top: 10px;
}