/*
 * $Id$
 */

/* Headers for "Categories" and "Recipes..." sections */
.recipe_index_section {
  margin-top: 1.0em;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 160%;
}

/* Parent category only, excluding children (if any) */
.recipe_index_category_parent {
  font-weight: bold;
  font-size: 130%;
}
