/* $Id$ */

.recipe-summary {
  float: right;
  margin: 0 0 1em 1em;
}

.recipe-summary table {
  border-collapse: collapse;
}

.recipe-summary td,
.recipe-summary th {
  border: 1px solid #aaa;
  padding: .2em;
}

.recipe-summary th {
  background: #eee;
}

.recipe-ingredients acronym {
  border-bottom: 1px dotted #333;
  cursor: help;
}

#recipe_custom_yield fieldset .form-item {
  display: inline;
}

#recipe_custom_yield fieldset .form-submit {
  display: inline;
}

#recipe_custom_yield fieldset {
  border: none;
}
