/* $Id$ */


/* Summary Box */
.recipe-summary {
  float: right;
  width: 20em;
  margin: 0 0 1em 1em;
}
.recipe-summary table {
  border-collapse: collapse;
}
.recipe-summary td,
.recipe-summary th {
  border: 1px solid #aaa;
  padding: .2em;
}
.recipe-summary th {
  background: #eee;
}
#edit-custom-yield-wrapper {
  display: inline;
}
.summary-data, .summary-title {
  width: 10em;
}
.recipe-summary p {
  margin:0;
  padding:0;
}


/* Ingredient List in Recipe view */
.recipe-ingredients {
  width:60%;
}
.recipe-ingredients table {
  margin:0;
  padding:0;
}
.recipe-ingredients table tbody {
  border-style:none;
}
.recipe-ingredients .qty {
  vertical-align:top;
  text-align:right;
  white-space:nowrap;
  padding: 0 0.2em;
}
.recipe-ingredients .units {
  vertical-align:top;
  text-align:left;
  padding: 0 0.5em;
  /* cursor: help;  WHY?*/
}
.recipe-ingredients .ingredient {
  vertical-align:top;
  text-align:left;
  padding: 0 0.5em;
  /* cursor: help;  WHY?*/
}

#recipe_custom_yield fieldset .form-item {
  display: inline;
}

.recipe-summary .form-submit {
  font-size: 75%;
  width: 7em;
  float:right;
}

#recipe_custom_yield fieldset {
  border: none;
}

/*
 * import preview
 */
.recipe-error-item {
  margin-left: 10px;
  color:red;
  font-weight:bold;
}
.recipe-new-item {
  margin-left: 10px;
  color:#2E8B57;
  font-weight:bold;
}
.recipe-matched-item {
  margin-left: 10px;
}

/* recent index page */
.recipe_index_list {
  float: left;
  width: 58%;
}
.recipe_index_recent {
  float: left;
  width: 40%;
}